<div class="content">
    <i class="bi bi-arrow-left-short btn btn-outline-dark" (click)="goBack()"></i>
    <h1>School of Hospitality and Tourism Managment Employees</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Employment Type</th>
                  <th>Deployment Date</th>

                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let employee of filteredEmployees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.employmentType }}</td>
                    <td>{{ employee.employmentDate }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

